.Bannerupload {
  position: absolute;
  width: 420px;
  height: 218px;
  left: 119px;
  top: 57px;
  background: #ffffff;
  border: 1px dashed #d8af28;
  border-radius: 2px;
}
.uploadBannerimg {
  padding-bottom: 10px;
}
.Banneruploadbtn {
  border: none;
  background-color: inherit;
  /* padding: 14px 28px; */
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  padding-top: 5px;
}
.brandingtitle {
  position: absolute;
  width: 203px;
  height: 27px;
  left: 828px;
  top: 137px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;

  /* headings */

  color: #3d4a52;
}
.colortitle {
  position: absolute;
  width: 128px;
  height: 27px;
  left: 839px;
  top: 512px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;

  /* headings */

  color: #3d4a52;
}
