.profileheader {
  position: absolute;
  width: 141px;
  height: 27px;
  left: 834px;
  top: 147px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #3d4a52;
}
.profilefirstname {
  position: absolute;
  width: 420px;
  height: 48px;
  left: 842px;
  top: 205px;
  border-radius: 2px;
}
.profilelastname {
  position: absolute;
  width: 420px;
  height: 48px;
  left: 839px;
  top: 295px;
  border-radius: 2px;
}
.profileemail {
  position: absolute;
  width: 420px;
  height: 48px;
  left: 839px;
  top: 385px;
  border-radius: 2px;
}
.profilenumber {
  position: absolute;
  width: 420px;
  height: 48px;
  left: 839px;
  top: 475px;
  border-radius: 2px;
}
.profilebtn {
  box-sizing: border-box;
  position: absolute;
  width: 420px;
  height: 42px;
  left: 329px;
  top: 430px;
  border: 1px solid #c09507 !important;
  border-radius: 2px;
  background-color: #c09507 !important;
}
.disableprofilebtn {
  box-sizing: border-box;
  position: absolute;
  width: 420px;
  height: 42px;
  left: 329px;
  top: 430px;
  background: #ffffff;
  opacity: 0.5;
  border: 1px solid #c09507 !important;
  border-radius: 2px;
}
.finishlaterbtn {
  position: absolute;
  width: 420px;
  height: 42px;
  left: 329px;
  top: 465px;
  background: #ffffff;
  border: 1px solid #c09507 !important;
  border-radius: 2px;

  font-family: "Open Sans" !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 19px;
  /* identical to box height */

  text-align: center;

  color: #585d60 !important;
}
