.container {
  margin: 0px 0px;
  text-align: left;
  padding: 0px 10px;
}
.container_margin {
  text-align: left;
  margin: 25px 144px;
}
.container_marginMd {
  /* margin: 25px 144px; */
  /* margin: 25px 30px; */

  text-align: left;
}

.containerMd {
  margin: 25px 30px;
  text-align: left;
}

.greenBox {
  justify-content: center;
  height: 40px;
  background: #00a94f;
  border-radius: 6px;
  width: 40px;
  display: flex;
  padding: 8px;
  margin: 0 10px;
}

.micrositeLogo {
  width: 100%;
  height: 400px;
}

.titleContainer {
  margin: 50px auto;
}

.titleContainerSm {
  margin: 30px auto;
}

.buttonContainer {
  margin: 50px auto;
}

.title {
  margin: 10px auto;
}

.lastTitle {
  margin: 10px auto;
  line-height: 46px !important;
}

.textDescription {
  line-height: 27px !important;
  margin: 15px auto !important;
  font-size: 22px !important;
  font-style: italic !important;
  color: black !important;
  text-align: left;
}

.description {
  line-height: 27px !important;
  /* margin: 15px auto !important; */
  font-size: 22px !important;
  font-style: italic !important;
  color: white !important;
  text-align: left;
  width: 450px;
}

.descriptionSm {
  line-height: 20px !important;
  margin: 15px auto !important;
  font-size: 12px !important;
  font-style: italic !important;
  color: white !important;
  text-align: left;
}

.descriptionMd {
  line-height: 20px !important;
  margin: 15px auto !important;
  font-size: 12px !important;
  font-style: italic !important;
  color: white !important;
  width: 344px !important;
  text-align: left;
}

.descriptionlg {
  line-height: 50px !important;
  margin: 65px auto !important;
  font-size: 36px !important;
  font-style: italic !important;
  color: white !important;
  width: fit-content !important;
  text-align: left;
}

.descriptionXlg {
  line-height: 69px !important;
  margin: 70px auto !important;
  font-size: 30px !important;
  font-style: italic !important;
  color: white !important;
  /* width: 1415px !important; */
  text-align: left;
}

.bgMd {
  height: 373px;
  position: absolute;
}

.primaryButton {
  padding: 11px 38px !important;
}

.pointContainer {
  display: flex;
  align-items: center;
  margin: 0 0 50px 0px;
}

.pointContainer > span {
  line-height: 20px !important;
}

.centeredAlignTitle {
  align-items: center;
  display: flex;
  width: 100%;
  margin: auto !important;
  text-align: center;
  line-height: 39px !important;
}

.centeredButtonContainer {
  margin: auto !important;
}

.gradientContainer {
  position: relative;
  text-align: center;
}

.gradientTextContainer {
  position: absolute;
  top: 92px;
  margin: auto;
  width: 100%;
  display: flex !important;
  justify-content: space-around !important;
  /* padding: 0 144px !important; */
}

.gradientTextContainerMd {
  position: absolute;
  top: 55px;
  margin: auto;
  width: 100%;
  display: flex !important;
  justify-content: space-around !important;
  /* padding: 0 144px !important; */
}

.gradientTextContainerTab {
  position: absolute;
  top: 33px;
  margin: auto;
  width: 100%;
  display: flex !important;
  justify-content: space-around !important;
  /* padding: 0 144px !important; */
}

.gradientTextContainerSm {
  position: absolute;
  top: 33px;
  margin: auto;
  width: 100%;
  display: flex !important;
  justify-content: space-between !important;
  /* padding: 0 144px !important; */
}

.gradientTextContainer .title {
  width: 350px;
  text-align: left;
  margin: auto;
}

.lineheight_39 {
  line-height: 39px !important;
}

.lineheight_27 {
  line-height: 27px !important;
}

.lineheight_78 {
  line-height: 78px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.gradientTextContainer .description {
  line-height: 27px;
  width: 450px;
  text-align: left;
  margin: auto;
}

.viewDatasetButtonContainer {
  text-align: center;
  margin: 50px 0;
}

.viewDatasetButton {
  margin: auto !important;
  padding: 11px 38px !important;
}

.participanttitleContainer .title,
.description {
  text-align: left;
}

.alignLeft {
  justify-content: left;
}
.top_row_in_home {
  background-image: url("../../Assets//Img/kenya/first_home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white !important;
  position: sticky;
  padding: 0px 144px;
}

.image_container {
  width: 100%; /* Adjust the width as needed */
  height: 650px; /* Adjust the height as needed */
  overflow: hidden; /* Hide the parts of the image outside the container */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain image aspect ratio */
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0% 100%
  ); /* Cut from the top by 20% */
}

@media only screen and (min-width: 1850px) {
  .micrositeLogo {
    height: 660px;
  }
}
