.container {
  display: flex;
  min-height: 120px;
  /* max-height: 120px; */
  /* min-width: 320px; */
  max-width: 100%;
  padding: 10px;
  background-color: #f7f7f7;
  justify-content: space-between;
  margin: 10px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.containerStatic {
  display: flex;
  min-height: 120px;
  padding-left: 10px;
  background-color: #f7f7f7;
  justify-content: space-between;
  margin: 10px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.containerLocation {
  display: flex;
  min-height: 120px;
  /* min-width: 280px; */
  max-width: 100%;
  padding: 10px;
  background-color: #f7f7f7;
  justify-content: space-between;
  margin: 10px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.title {
  margin: 0 !important;
}

.value {
  /* display: inline-block !important; */
}

.valueContainer {
  display: inline-block !important;
  margin-left: 10px;
}

.labelText {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  max-width: 85px;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  /* margin: 0 2px; */
  display: inline-block;
}

.percentageText {
  margin-left: 20px;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
}

.colorBox {
  height: 6px;
  display: inline-block;
  border-radius: 20px;
  width: 6px;
  margin-right: 4px;
}

.labelRow {
  display: flex;
  align-items: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* height: 200px; */
  max-height: 100%;
  width: 60%;
}

.locationTextContainer {
}

.graphBox {
  width: 50%;
}

@media (max-width: 1024px) {
  .containerLocation {
    margin-left: 0px;
  }
}
