.container {
    display: flex;
    min-height: 120px;
    height: 280px;
    /* max-height: 120px; */
    min-width: 320px;
    max-width: 100%;
    /* padding: 10px; */
    background-color: #f7f7f7;
    justify-content: space-between;
    margin: 0 10px;
  }
  .title {
    margin: 0 !important;
  }
  .value {
    /* display: inline-block !important; */
  }
  .valueContainer {
    display: inline-block !important;
    margin-left: 10px;
  }
  .labelText {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    width: 70px;
    word-break: break-all;
    margin: 10px 10px;
    display: inline-block;
  }
  .percentageText {
    margin-left: 10px;
    color: #000;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
  }
  .colorBox {
    height: 6px;
    display: inline-block;
    border-radius: 20px;
    width: 6px;
  }
  .labelRow {
    display: flex;
    align-items: center;
  }
  .textContainer {
    /* height: 200px; */
    max-height: 250px;
    overflow: scroll;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
  }
  .containerGraph {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    /* padding: 10px; */
    background-color: #f7f7f7;
    justify-content: space-between;
    /* margin: 0 10px; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .noData {
    max-width: 80%;
    max-height: 100%;
    padding: 10px;
    margin: 20px auto;
  
    border-radius: 10px;
    border: 1px solid #e2e2e2;
  }
  