  .mpage {
    display: grid;
    height: initial;
    padding: 10px;
  }
  
  .pgheading {
    text-align: center;
    color:#445069;
  }
  
  .measurename {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d8d8d8;
    color: black;
    border-radius: 5px;
    padding: 10px;
  }

  .MuiAccordionSummary-content.Mui-expanded {
    margin: 0;
    padding-right: 10px;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
  }
  
  .MuiAccordionSummary-expandIconWrapper.Mui-expanded {
    margin: 0;
    padding-right: 10px;
    padding-right: 10px;
  }
  
  .btns {
    display: grid;
    justify-content: flex-end;
    align-items: center;
    grid-template-columns: auto;
    grid-template-areas: "eb delbtn savebtn cancelbtn";
    grid-column-gap: 20px;
    padding: 5px;
  }
  
  .title {
    display: flex;
    flex-wrap: wrap;
    flex: 1; 
    text-align: center; 
    padding-left: 20px;
  }
  
  .measureblock {
    display: grid;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .measure {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    margin: 0 !important;
    grid-gap: 0px;
    gap: 5px;
    height: 100%;
    align-content: center;
    justify-items: start;
    justify-content: center;
    padding: 10px;
  }
  
  .condition {
    grid-area: 1 / 1 / 2 / 3;
  }
  
  .condition-txt {
    grid-area: 1 / 3 / 2 / 7;
  }
  
  .operator {
    grid-area: 2 / 1 / 3 / 3;
  }
  
  .operator-txt {
    grid-area: 2 / 3 / 3 / 7;
  }
  
  .uservalue {
    grid-area: 3 / 1 / 4 / 3;
  }
  
  .uservalue-txt {
    grid-area: 3 / 3 / 4 / 7;
  }

  .condition,.condition-txt,.operator,.operator-txt,.uservalue,.uservalue-txt{
    padding: 5px;
    margin: 5px;
  }
  