  .grid-container {
    display: grid;
    grid-template-columns: 3fr 0.01fr 0.01fr;
    grid-template-areas: "header msbar csbar";
    gap: 10px;
    min-height: 100vh; 
    max-height: auto; 
  }
  
  .header {
    justify-content: center;
    align-items: center;
    justify-items: center; 
    background-color: white;
    gap: 5px;
    min-width: 300px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "heading ambtn form .";
  }
  
  .btnwithdnd {
    display: grid;
    padding: 40px;
    grid-template: 20% 70% / 1fr;
    grid-template-areas: "ambtn";
    gap: 30px; 
    min-height: 100vh;
    max-height: auto; 
  }
  
  .ambtn {
    grid-area: header;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px !important;
    border-radius: 5px !important;
    background-color: white !important;
    color: #06a16d !important;
    margin: auto;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 50px;
    height: 100%;
  }
   
  .btntxt{
    display: grid;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 4;
    color: #06a16d;
  }
  .btnbox{
    display: grid;
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 2;
    grid-column-end: 6;
    text-align: center;
 }
  
  .formbtncontainer {
    grid-area: header;
    display: grid !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 10px !important;
    border-radius: 5px !important;
    min-width: 250px;
    margin: auto;
  }
  
  .formbtn {
    grid-area: header;
    display: grid !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 10px !important;
    border-radius: 10px !important;
    background-color: #46d7a6 !important;
    color: white !important;
    min-width: 250px;
    margin: auto;
  }
  
  .form {
    grid-area: header;
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    min-width: 250px;
  }
  
  .formpage {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
    max-width: 1200px !important;
    width: 100% !important;
    margin: 0 auto !important;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #46d7a6;
    background-color: #EEEEEE;
  }
  
  .heading {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1.5fr;
    padding-top: 0px !important;
    padding-bottom: 50px !important;
    grid-gap: 40px;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    padding-top: 0px;
  }
  
  .heading-text {
    display: grid;
    grid-gap: 30px;
    gap: 30px;
    padding: 0px 20px 20px 60px;
  }
  
  .heading-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .heading-img img {
    max-width: 100%;
    height: auto;
  }

  .text-gradient.text-primary {
    background-image: linear-gradient(310deg, #85ebb3, #089642);
  }

.text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 1;
}
  
  .heading-text h1 {
    margin: 0;
    font-size: xxx-large !important;
    background-color: linear-gradient(45deg, #298f6d, transparent) !important;
    font-weight: 700 !important;
    text-align: left;
  }
  
  .heading-text h3 {
    font-size: 2rem !important;
    margin: 0 !important;
    text-align: left;
    color: #46d7a6 !important;
  }
  
  .heading-text h6 {
    font-size: 1.5rem !important;
    margin: 0;
    color: #666;
    text-align: left !important;
    font-weight: 500 !important;
  }
  
  .msbar {
    grid-area: msbar;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 2px solid #46d7a6;
    color: #46d7a6;
    border-radius: 10px;
  }

  .csbar {
    grid-area: csbar;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 5px;
    padding-left: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 2px solid #46d7a6;
    color: #46d7a6;
    border-radius: 10px;
  }

  .msbar button,
  .csbar button {
    margin-top: "1fr";
    padding-inline: 5px;
  }
  
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    font: inherit;
    letter-spacing: inherit;
    color: currentColor;
    padding: 4px 0 5px !important;
    border: 0;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0 !important;
    -webkit-tap-highlight-color: pink !important;
    display: block !important;
    min-width: 0 !important;
    width: 100% !important;
    -webkit-animation-name: mui-auto-fill-cancel;
    animation-name: mui-auto-fill-cancel;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms !important;
    padding: 16.5px 14px !important;
  }

  .DragdropArea{
    display: grid;
    background-color: #EEEEEE;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    border-radius: 10px;
    justify-items: center;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "dropCard dropCard";
    gap: 20px;
    height:auto;
    min-height: 100vh; /* Set minimum height to 100vh */
    max-height: none; 
  }

  .Dragdrop{
    display: grid;
    background-color: #EEEEEE;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    border-radius: 10px;
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    padding: 20px;
  }

  .dropCard{
    display: grid;
  }
  
  .css-46bh2p-MuiCardContent-root {
    padding: 100px !important;
    border-radius: 30px !important;
  }

  .msb {
    grid-area: msbar;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    min-width: 100px; 
  }

  /* Media queries*/
  @media (max-width: 768px) {
    .msbar,.csbar,.msb {
      display: grid;
    }
    .grid-container{
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
          "header"
          "msbar"
          "csbar" !important;
    }
    .header{
      grid-column: 1 / span 3;
      min-width: auto;
    }
    .ambtn{
      grid-column: 1 / span 3;
      min-width: auto;
    }
    .formbtn{
      grid-column: 1 / span 3;
      min-width: auto;
    }
    .form{
      grid-template-columns: 1fr; 
      grid-column: 1 / -1;
    }
    .formpage {
      grid-template-columns: 1fr !important;
      padding: 20px !important; 
    }
  }

  .msbar-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .csbar-toggle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .vertical-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .vertical-text {
    writing-mode: vertical-lr;
    color: #46d7a6;
  }

  @media(min-width: 600px){
    .formpage{
      min-width: 560px;
    }
  }

  .slide-in {
    transform: translateX(100%);
    animation: slideIn 1s forwards;
  }

  .heading-text{
    transform: translateX(-100%);
    animation: slideIn 1s forwards;
  }

  @keyframes slideIn {
    to {
      transform: translateX(0);
    }
  }
  
  
  

  
  