.form-container {
    display: grid;
    grid-template-columns: auto-fit;
    grid-gap: 40px;
    background-color: skyblue;
  }

  @media (max-width: 600px) {
    .form-container {
      grid-template-columns: 1fr;
    }
  }
  
  .add-condition-icon {
    cursor: pointer;
    color: #3f51b5;
    margin-bottom: 10px;
  }

  .selectcol,
  .selectop {
    width: 100%;
  }
  
  .icon {
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 30px;
  }
  
  .closebtn {
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 30px;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    .select-dropdown {
      width: 100%;
    }
  }
  
  .cmbtn {
    background-color: rgb(40, 74, 230) !important;
    border-radius: 5px !important;
    padding: 10px !important;
    color: white !important;
  }

  .MuiSvgIcon-root {
    color: #46d7a6 !important;
  }
  
  .css-10botns-MuiInputBase-input-MuiFilledInput-input{
    padding: 5px !important;
  }