.grid-container {
    display: grid;
    grid-template-columns: 3fr 0.02fr 0.02fr;
    grid-template-areas: "header msbar csbar";
    gap: 10px;
    height: 100vh; /* Adjust the height as needed */
  
    @media (max-width: 768px) {
      /* On smaller screens, place header below msbar and csbar */
      grid-template-rows: auto 1fr auto; /* First row auto size (msbar), second row 1fr (csbar), third row auto size (header) */
      grid-template-areas:
        "header"
        "msbar"
        "csbar" !important;
    }
  }
  
  /* jdjj */
  
  .header {
    justify-content: center;
    align-items: center;
    justify-items: center; 
    /* align-content: center; */
    /*padding: 30px;*/
    /* background-color: #acffad; */
    /* background-color: lightgray; */
    background-color: white;
    gap: 5px;
  
    min-width: 300px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "heading ambtn form .";
    @media (max-width: 768px) {
      /* On smaller screens, expand to full width */
      grid-column: 1 / span 3;
      min-width: auto;
    }
  }
  
  .btnwithdnd {
    display: grid;
    /*justify-items: center;
    align-items: center;
    justify-content: center; */
    padding: 40px;
    grid-template: 20% 70% / 1fr;
    gap: 20px; 
    height: 100vh;
    /*background-color: #50cb93 !important;*/
  }
  
  .ambtn {
    grid-area: header;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px !important;
    border-radius: 5px !important;
    background-color: white !important;
    color: #46d7a6 !important; 
    min-width: 250px;
    margin: auto;
    font-family: emoji;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
  
    @media (max-width: 768px) {
      /* On smaller screens, expand to full width */
      grid-column: 1 / span 3;
      min-width: auto;
    }
  }
  
  .formbtncontainer {
    grid-area: header;
    display: grid !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 10px !important;
    border-radius: 5px !important;
    min-width: 250px;
    margin: auto;
  }
  
  .formbtn {
    grid-area: header;
    display: grid !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 10px !important;
    border-radius: 10px !important;
    background-color: #58db58 !important;
    color: white !important;
    min-width: 250px;
    margin: auto;
  
    @media (max-width: 768px) {
      /* On smaller screens, expand to full width */
      grid-column: 1 / span 3;
      min-width: auto;
    }
  }
  
  /* .formwithbtn {
    background-color: #acffad !important;
  } */
  
  .form {
    grid-area: header;
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    /* background-color: #acffad; */
    min-width: 250px;
    grid-template-columns: 1fr; /* Default to one column */
  
    @media (max-width: 768px) {
      /* On smaller screens, expand to full width */
      grid-template-columns: 1fr; /* For smaller screens, revert to one column */
      grid-column: 1 / -1; /* This spans the item across all columns */
    }
  }
  
  .formpage {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
    /* grid-gap: 20px !important; */
    max-width: 1200px !important;
    width: 60% !important; /* Set width to 90% of its parent container's width */
    margin: 0 auto !important;
    /* Center .formpage within the .form container */
    padding: 30px;
    border-radius: 10px;
    /* border: 2px solid #58db58; */
    border: 2px solid #46d7a6;
    background-color: #EEEEEE;
  }
  
  .heading {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 2fr;
    /* background: lightgrey; */
    padding-top: 0px !important;
    padding-bottom: 50px !important;
    /* border: 2px solid #58db58; */
    /* color: #58db58; */
    /* color: green; */
    grid-gap: 40px;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    padding-top: 0px;
  }
  
  .heading-text {
    display: grid;
    grid-gap: 30px;
    gap: 30px;
    padding: 0px 20px 20px 60px;
  }
  
  .heading-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Style the image within the heading */
  .heading-img img {
    max-width: 100%;
    height: auto;
  }

  .text-gradient.text-primary {
    background-image: linear-gradient(310deg, #85ebb3, #089642);
}

.text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 1;
}
  
  /* Style the h1 element */
  .heading-text h1 {
    /* font-size: 2rem; */
    margin: 0;
    font-size: -webkit-xxx-large !important;
    background-color: linear-gradient(45deg, #298f6d, transparent) !important;
    font-weight: 700 !important;
    text-align: left;
  }
  
  /* Style the h3 element */
  .heading-text h3 {
    font-size: 2rem !important;
    margin: 0 !important;
    text-align: left;
    color: #46d7a6 !important;
  }
  
  /* Style the h6 element */
  .heading-text h6 {
    font-size: 1.5rem !important;
    margin: 0;
    color: #666;
    text-align: left !important;
    font-weight: 500 !important;
  }
  
  
  /* Styling for the horizontal divider 
  .divider {
    grid-area: divider;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    min-width: 10px;
  }*/
  
  /* Styling for column 2 (Measures Sidebar) */
  /* Styling for the Measures Sidebar */
  .msbar {
    grid-area: msbar;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* background-color: #71efa3; */
    font-family: Verdana, Arial, Helvetica, sans-serif;
    /*border-left: 1px solid grey;*/
    border: 2px solid #46d7a6;
    color: #46d7a6;
    border-radius: 10px;
  }
  
  /* Media query for the Measures Sidebar */
  @media (max-width: 768px) {
    .msbar {
      /* On smaller screens, hide the Measures Sidebar */
      display: grid;
    }
  }
  
  /* Styling for the Columns Sidebar */
  .csbar {
    grid-area: csbar;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 5px;
    padding-left: 10px;
    /* background-color: lightgreen; */
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 2px solid #46d7a6;
    color: #46d7a6;
    border-radius: 10px;
  }
  
  /* Media query for the Columns Sidebar */
  @media (max-width: 768px) {
    .csbar {
      /* On smaller screens, hide the Columns Sidebar */
      display: grid;
    }
  }
  
  /* Styling for the button in Measures Sidebar and Columns Sidebar */
  .msbar button,
  .csbar button {
    margin-top: "1fr";
    /*background-color: #27e1c1;*/
    padding-inline: 5px;
  }
  
  /* Styling for the Measures and Columns sidebar icons */
  .msbar .MuiSvgIcon-root,
  .csbar .MuiSvgIcon-root {
    writing-mode: vertical-lr;
    @media (max-width: 768px) {
      writing-mode: horizontal-tb;
    }
  }
  
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    font: inherit;
    letter-spacing: inherit;
    color: currentColor;
    padding: 4px 0 5px !important;
    border: 0;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0 !important;
    -webkit-tap-highlight-color: pink !important;
    display: block !important;
    min-width: 0 !important;
    width: 100% !important;
    -webkit-animation-name: mui-auto-fill-cancel;
    animation-name: mui-auto-fill-cancel;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms !important;
    padding: 16.5px 14px !important;
  }

  .DragdropArea{
    display: grid;
    background-color: #EEEEEE;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    border-radius: 10px;
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    padding: 30px;
  }
  .css-46bh2p-MuiCardContent-root {
    padding: 100px !important;
    border-radius: 30px !important;
  }

  .msb {
    grid-area: msbar;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    min-width: 100px; /* Adjust as needed for desired width */
  
    @media (max-width: 768px) {
      /* On smaller screens, hide the Measures Sidebar */
      display: grid;
    }
  }