@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
/* @import '../../../node_modules/react-bootstrap-table-next/dist/react-bootstrap-table2.min.css'; */
/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap'); */
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans"); */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800");
body{
  font-family: 'Open Sans';
  text-align: center !important;
  width: 100%;
  height: 100%;
  background-color:#f8f9fa !important;
}
button.disbalesubmitbtn{text-transform: capitalize;border-radius: 2px; background: #FFFFFF !important;width:420px !important;height: 42px; margin-top: 30px;border:1px solid #C09507 !important;color:#585D60 !important;opacity: 0.5}
button.cancelbtn{text-transform: capitalize;border-radius: 2px; background: #FFFFFF !important;width:420px !important;height: 42px; margin-top: 30px;border:1px solid #C09507 !important;color:#585D60 !important;}
button.submitbtn{ width: 420px !important;text-transform: capitalize;color: #FFFFFF;height:42px;margin-top:30px; background:#C09507;border-radius: 2px;border:2px solid #C09507 !important}
.mainheading{font-weight: 700;font-size: 20px;color: #3D4A52;}
.secondmainheading{font-weight: 600;font-size: 16px;color: #3D4A52;}
.thirdmainheading{font-weight: 400;font-size: 14px;color: #3D4A52;}
.mainheadingsuccess{font-weight: 700;font-size: 20px;color: #3D4A52;}
.secondmainheadingsuccess{font-weight: 700;font-size: 20px;color: #D8AF28;}
.thirdmainheadingsuccess{font-weight: 400;font-size: 16px;color: #3D4A52;}
.css-1gsv261{    border-bottom: 1px solid #c09507 !important}
.css-1aquho2-MuiTabs-indicator{background-color: #c09507 !important;}
.boldimage{  display: none;}
.nonboldimage{  display: block;}
.react-multi-email > input {
  background: none !important;
}
.react-multi-email{
  width: 100% !important;
  border:none !important;
  background: none !important;
  border-bottom: 1px solid #9AA1A9 !important;
  border-radius: inherit !important;
}
.invite-participant-text-editor > div:first-child{
  background: #F1F1F1 !important;
  border: none !important;
  border-bottom: 1px solid #9AA1A9 !important;
  border-radius: inherit !important;
}
.settingsTabs .Mui-selected {
  color: #ffffff !important;
  border: 1px solid #D8AF28;
  border-radius: 2px 0px 0px 0px;
  text-transform: capitalize !important;
  background: #C09507;
  width: 200px;
}
.settingsTabs .MuiTabs-indicator{
  background: #C09507 !important;
}
/* .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  background: #FFFFFF;
  border: 1px solid #D8AF28 !important;
  text-transform: capitalize !important;
  font-weight: 400 !important;
  width: 200px;
} */
:not(.Mui-selected).MuiTab-root {
  background: #FFFFFF;
  border: 1px solid #D8AF28 !important;
  text-transform: capitalize !important;
  font-weight: 400 !important;
  width: 200px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
