/* Add all the new ui css classes here and to use it just import the global module file and use it as variable */

.primary_color {
  color: #00ab55 !important;
}

.primary_fontStyle {
  font-family: 'Montserrat' !important;
}

.dark_color {
  color: #000000 !important;
}

.primary_background {
  background-color: #00ab55 !important;
}

.white_background {
  background: #ffffff !important;
}

.light_text {
  color: #919eab !important;
}

.highlighted_text {
  color: #212b36 !important;
}

.bold300 {
  font-weight: 300 !important;
}

.bold400 {
  font-weight: 400 !important;
}

.bold500 {
  font-weight: 500 !important;
}

.bold600 {
  font-weight: 600 !important;
}

.bold700 {
  font-weight: 700 !important;
}

.size12 {
  font-size: 12px !important;
}

.size14 {
  font-size: 14px !important;
}

.size16 {
  font-size: 16px !important;
}

.size18 {
  font-size: 18px !important;
}

.size20 {
  font-size: 20px !important;
}

.size22 {
  font-size: 22px !important;
}

.size24 {
  font-size: 24px !important;
}

.size26 {
  font-size: 26px !important;
}

.size28 {
  font-size: 28px !important;
}

.size30 {
  font-size: 30px !important;
}

.size32 {
  font-size: 32px !important;
}

.size34 {
  font-size: 34px !important;
}

.size36 {
  font-size: 36px !important;
}

.size38 {
  font-size: 38px !important;
}

.size40 {
  font-size: 40px !important;
}

.blue {
  color: #3366ff;
}