/* Add all the new ui css classes here and to use it just import the global module file and use it as variable */

.primary_color {
  color: #00ab55 !important;
}

.primary_fontStyle {
  font-family: "Montserrat" !important;
}

.dark_color {
  color: #000000;
}

.primary_background {
  background-color: #00ab55;
}
.primary_button {
  font-weight: 700 !important;
  font-size: 15px !important;
  line-height: 26px !important;
  /* width: 153px !important; */
  height: 48px !important;
  background: #00ab55 !important;
  border-radius: 8px !important;
  align-items: center !important;
  padding: 11px 38px !important;
  color: #ffffff !important;
}
.primary_button:hover {
  background: "rgba(0; 184; 217; 0.16)";
  color: "#006C9C";
}
.outlined_button {
  font-weight: 700 !important;
  font-size: 15px !important;
  line-height: 26px !important;
  /* width: 153px !important; */
  height: 48px !important;
  /* background: #ffffff !important; */
  border-radius: 8px !important;
  padding: 11px 38px !important;
  color: #00ab55 !important;
  border: 1px solid #00ab55 !important;
}

.white_background {
  background: #ffffff;
}

.light_text {
  color: #919eab;
}

.highlighted_text {
  color: #212b36;
}
.title_text {
  color: #00ab55 !important;
}

.bold300 {
  font-weight: 300;
}

.bold400 {
  font-weight: 400 !important;
}

.bold500 {
  font-weight: 500;
}

.bold600 {
  font-weight: 600 !important;
}

.bold700 {
  font-weight: 700 !important;
}

.size12 {
  font-size: 12px;
}

.size14 {
  font-size: 14px;
}

.size16 {
  font-size: 16px !important;
}

.size18 {
  font-size: 18px;
}

.size20 {
  font-size: 20px;
}

.size22 {
  font-size: 22px;
}

.size24 {
  font-size: 24px !important;
}

.size26 {
  font-size: 26px !important;
}

.size28 {
  font-size: 28px;
}

.size30 {
  font-size: 30px;
}

.size32 {
  font-size: 32px !important;
}

.size34 {
  font-size: 34px;
}

.size36 {
  font-size: 36px;
}

.size38 {
  font-size: 38px;
}

.size40 {
  font-size: 40px;
}

.blue {
  color: #3366ff;
}
.padding0 {
  padding: 0;
}
