.brandsetting .title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #3d4a52;
  padding-left: 18%;
  padding-top: 3%;
}
.brandsetting .colorpickersettings {
  margin-left: 32%;
  margin-top: 4%;
  padding-bottom: 5%;
  width: 100px;
  margin-bottom: 5%;
}
.brandingcancel {
  padding-left: 15%;
  padding-top: 5%;
}
.brandsubmit {
  padding-left: 15%;
  padding-top: 5%;
}
