.footerContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

.footerTitle {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.footerLightText {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.footerDarkText {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.link {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #0038FF;

}

.flexWidth {
    flex: 0 0 33.5%;
}

.buttonText {
    font-family: 'Montserrat' !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 26px !important;
}

.inputFieldSubscribe {
    border-radius: 8px !important;
    width: 466px !important;
    height: 56px;
}

.inputFieldSubscribe .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedEnd.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    padding-right: 0px !important;
    border-radius: 8px !important;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {

    .footerTitle {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }

    .footerLightText {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
    }

    .footerDarkText {
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
    }

    .link {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
    }

    .buttonText {
        font-weight: 700 !important;
        font-size: 12px !important;
        line-height: 22px !important;
    }

    .inputFieldSubscribe {
        width: 364px !important;
        height: 56px;
    }
}

@media only screen and (max-width: 600px) {

    .footerTitle {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }

    .footerLightText {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
    }

    .footerDarkText {
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
    }

    .link {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
    }

    .buttonText {
        font-weight: 700 !important;
        font-size: 12px !important;
        line-height: 22px !important;
    }

    .inputFieldSubscribe {
        width: 364px !important;
        height: 56px;
    }
}