.buttonrightset {
  width: 172px;
  height: 48px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  background: #00ab55 !important;
  color: #ffffff !important;
  border: 1px solid rgba(0, 171, 85, 0.48) !important;
  border-radius: 8px !important;
}
.buttonleftred {
  width: 55px;
  height: 26px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #ff5630 !important;
  border: none !important;
}
