.get_started_image {
    height: 330px;
    width: 396px;
    margin: auto !important;
  }
  
  .font300 {
    font: 300 !important;
  }
  .font400 {
    font: 400 !important;
  }
  .font500 {
    font: 500 !important;
  }
  .font600 {
    font: 600 !important;
  }
  .texts {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    margin: 5px auto 25px auto;
  }

  
  /* first step css */
  .description {
    width: 760px;
    height: 40px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    margin: 100px auto 40px auto;
  }
  .each_preview_policy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    border: 1px solid #919eab;
    padding: 15px;
    border-radius: 10px;
  }

  .text_left {
    text-align: left !important;
  }


  .document_upload_logo {
    flex: 0.1;
  }
  .link:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  