.count_text {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    width: 100%;
}

.subtitle {
    color: #424242;
    font-family: Roboto !important;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin-top: 16px;
}

.subtitle2 {
    color: #424242;
    font-family: Roboto !important;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 20px;
}