@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

.accordion_summary {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.accordion_title {
    font-family: 'Montserrat' !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: #212B36 !important;
}

.details {
    font-family: 'Montserrat' !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 22px !important;
    color: #212B36 !important;
    text-align: left;
    margin-bottom: 24px !important;
}